<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <title>Dauroh Ramadan</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">PENDATAAN PESERTA DAUROH RAMADHAN 2021</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <br />
  <br />

  <div style="margin-left: 5%">
    <form action="index.php" method="POST">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="tnama">Nama</label>
          <input type="text" class="form-control" name="tnama" required />
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="tjkel">Jenis Kelamin</label>
          <div class="col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tjkel" id="tjkel1" value="Laki-Laki" />
              <label class="form-check-label" for="tjkel1">Laki-Laki</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tjkel" id="tjkel2" value="Perempuan" />
              <label class="form-check-label" for="tjkel2">Perempuan</label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="tkontak">Nomor Kontak</label>
          <input class="form-control" type="text" name="tkontak" name="tkontak" required />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="talamat">Alamat</label>
          <textarea class="form-control" name="talamat" rows="3" required></textarea>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="ttingkat">Tingkat</label>
          <div class="col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ttingkat" id="ttingkat1" value="Ibtidaiyah" />
              <label class="form-check-label" for="ttingkat1">Ibtidaiyah</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ttingkat" id="ttingkat2" value="Tsanawiyah" />
              <label class="form-check-label" for="ttingkat2">Tsanawiyah</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ttingkat" id="ttingkat3" value="Aliyah" />
              <label class="form-check-label" for="ttingkat3">Aliyah</label>
            </div>
          </div>
        </div>
      </div>

      <button type="submit" name="add" class="btn btn-primary">Tambah Peserta</button>
    </form>
    
    <br>
    
    <!-- Tabel 1 - Task -->
    <div style="display: inline-block; ">
      <h3>Data Peserta</h3>
      <!-- TABEL1 -->
      <table align="left" border="1" style="text-align: center;">
        <tr>
          <td>No</td>
          <td>Nama</td>
          <td style="width: 40%;">Alamat</td>
          <td>Telepon</td>
          <td>Jenis Kelamin</td>
          <td>Tingkat</td>
          <td>Status</td>
          <td>Aksi</td>
        </tr>
        <tr>
          <!-- DATA YG AKAN DIGANTI -->
          DATA_TABEL
        </tr>

      </table>
    </div>

    

  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
</body>

</html>